# 0.
1. 整理MLP/net_saved中的csv文件

In [2]:
import pandas as pd

data_root = "../../MLP/metric_saved/"

ARTIFICIAL = True

- 根据参数整理file name
    - `index`列为seed

In [8]:
prefix = ""
metric_NLL_all = pd.DataFrame()
metric_KL_all = pd.DataFrame()

if not ARTIFICIAL:
    prefix = "real_"
    metric_NLL_all = pd.DataFrame(data = [3,31,62,204,223,407,508,626],columns=['seed'])
    metric_KL_all = pd.DataFrame(data = [3,31,62,204,223,407,508,626],columns=['seed'])


if ARTIFICIAL:
    prefix = "synthetic_"
    metric_NLL_all = pd.DataFrame(data = [4,31,35,66,204,407,508,512],columns=['seed'])
    metric_KL_all = pd.DataFrame(data = [4,31,35,66,204,407,508,512],columns=['seed'])


MODEL_LIST_1dim = ["GT1(MDN)","GT2(MDN)","GT3","EMD"]
MODEL_LIST_2dim = ["GT1+GT2","GT1+GT3","GT1+EMD","GT2+GT3","GT2+EMD","GT3+EMD"]
MODEL_LIST_3dim = ["GT1_GT2_GT3","GT1_GT2_EMD","GT1_GT3_EMD","GT2_GT3_EMD"]
MODEL_LIST_4dim = ["GT1_GT2_GT3_EMD"]

- 合并MODEL_LIST_1dim...的metric到一个表里，按照seed merge

In [9]:
# for model in MODEL_LIST_1dim+MODEL_LIST_2dim+MODEL_LIST_3dim+MODEL_LIST_4dim:
for model in MODEL_LIST_2dim:
    file_name = data_root+prefix+model+".csv"

    print(f"file_name = {file_name}")

    metric_i = pd.read_csv(file_name)

    metric_i_NLL = metric_i[['index','NLL']].copy()
    metric_i_KL = metric_i[['index','KL-D']].copy()

    metric_i_NLL.columns = ['seed',model]
    metric_i_KL.columns = ['seed',model]

    metric_NLL_all = pd.merge(metric_NLL_all,metric_i_NLL,how = "left", on='seed')
    metric_KL_all = pd.merge(metric_KL_all,metric_i_KL,how = "left", on='seed')

file_name = ../../MLP/metric_saved/synthetic_GT1+GT2.csv
file_name = ../../MLP/metric_saved/synthetic_GT1+GT3.csv
file_name = ../../MLP/metric_saved/synthetic_GT1+EMD.csv
file_name = ../../MLP/metric_saved/synthetic_GT2+GT3.csv
file_name = ../../MLP/metric_saved/synthetic_GT2+EMD.csv
file_name = ../../MLP/metric_saved/synthetic_GT3+EMD.csv

In [10]:
metric_NLL_all

   seed   GT1+GT2   GT1+GT3   GT1+EMD   GT2+GT3   GT2+EMD   GT3+EMD
0     4  5.527057  5.416844  6.081592  5.602252  5.523818  5.590069
1    31  5.283689  5.222265  5.920137  5.224831  5.361186  5.411547
2    35  5.383320  5.379567  6.004590  5.527185  5.392550  5.627825
3    66  5.482600  5.353164  6.287557  5.246380  5.736234  5.590114
4   204  5.264512  5.075982  6.328412  5.046281  5.671402  5.189303
5   407  5.511404  5.314309  5.951461  5.457565  5.521238  5.437730
6   508  5.277242  5.202309  5.853602  5.179202  5.418640  5.106350
7   512  5.583831  5.461265  6.162032  5.448652  5.690550  5.573873

In [11]:
metric_KL_all

   seed   GT1+GT2   GT1+GT3   GT1+EMD   GT2+GT3   GT2+EMD   GT3+EMD
0     4  1.478615  1.368402  2.033149  1.553809  1.475373  1.541626
1    31  1.246058  1.184636  1.882506  1.187203  1.323557  1.373917
2    35  1.422912  1.419158  2.044179  1.566775  1.432142  1.667415
3    66  1.510974  1.381540  2.315931  1.274752  1.764608  1.618486
4   204  1.293223  1.104691  2.357123  1.074989  1.700111  1.218012
5   407  1.475508  1.278409  1.915563  1.421669  1.485343  1.401834
6   508  1.311900  1.236970  1.888260  1.213861  1.453301  1.141007
7   512  1.474170  1.351604  2.052367  1.338991  1.580888  1.464212

In [12]:
metric_NLL_all.to_csv("metric_NLL_all.csv")
metric_KL_all.to_csv("metric_KL_all.csv")