In [ ]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Time    : 2022/6/9 15:46
# @Author  : Wang Yujia
# @File    : basicinfo_datawithnp.py
# @Description : 主要对于处理后（指计算出n与p并且经过threash）的data，进行一些分析

# 1. Preparations
## 1.1 全局设置

In [1]:
outcomes_orignal_path = "../data/outcomes.tsv"
data_path = "../data/datawithnp_2_selected.csv"

import pandas as pd
import numpy as np

unique_setting = ['id','bidincrement','bidfee','retail']

## 1.2 read in

In [7]:
data = pd.read_csv(data_path,encoding="utf-8")
outcomes = pd.read_csv(outcomes_orignal_path,sep='\t')
data.head(10),data.shape

(   auction_id  product_id                                      item  \
 0       86827    10009602  sony-ericsson-s500i-unlocked-mysterious-
 1       87964    10009881            psp-slim-lite-sony-piano-black
 2       87965    10009881            psp-slim-lite-sony-piano-black
 3       88638    10006115  sony-ericsson-s500i-unlocked-mysterious-
 4       88639    10006115  sony-ericsson-s500i-unlocked-mysterious-
 5       88693    10008975  sony-ericsson-s500i-unlocked-mysterious-
 6       88694    10008975  sony-ericsson-s500i-unlocked-mysterious-
 7       89434    10007148  ipod-touch-apple-8gb-with-software-upgra
 8       89435    10007148  ipod-touch-apple-8gb-with-software-upgra
 9       90127    10007148  ipod-touch-apple-8gb-with-software-upgra

                                             desc  retail   price  finalprice  \
 0  Sony Ericsson S500i Unlocked Mysterious Green  499.99   13.35       13.35
 1               PSP Slim & Lite Sony Piano Black  169.99   74.70       74.70
 2               PSP Slim & Lite Sony Piano Black  169.99   83.10       83.10
 3  Sony Ericsson S500i Unlocked Mysterious Green  499.99   19.65       19.65
 4  Sony Ericsson S500i Unlocked Mysterious Green  499.99   47.10       47.10
 5  Sony Ericsson S500i Unlocked Mysterious Green  499.99   55.20       55.20
 6  Sony Ericsson S500i Unlocked Mysterious Green  499.99   86.10       86.10
 7     iPod Touch Apple 8GB with Software Upgrade  299.99   63.45       63.45
 8     iPod Touch Apple 8GB with Software Upgrade  299.99   14.55       14.55
 9     iPod Touch Apple 8GB with Software Upgrade  299.99  229.65      229.65

    bidincrement  bidfee        winner  ...           endtime_str  \
 0          0.15    0.75       Racer11  ...  19:52 PDT 09-16-2008
 1          0.15    0.75        Cemo23  ...  11:17 PDT 08-28-2008
 2          0.15    0.75  Jacobsonnich  ...  22:52 PDT 11-07-2008
 3          0.15    0.75        Mokkis  ...  22:02 PDT 08-23-2008
 4          0.15    0.75  Superloeffel  ...  14:23 PDT 08-24-2008
 5          0.15    0.75   Danydemir80  ...  22:44 PDT 08-22-2008
 6          0.15    0.75  Destination8  ...  07:10 PDT 08-24-2008
 7          0.15    0.75     02bigwill  ...  10:56 PDT 08-22-2008
 8          0.15    0.75        Pala84  ...  01:03 PDT 08-22-2008
 9          0.15    0.75       Jardes6  ...  14:09 PDT 08-23-2008

    flg_click_only flg_beginnerauction  flg_fixedprice  flg_endprice  id     N  \
 0               0                   0               0             0   0    89
 1               0                   0               0             0   1   498
 2               0                   1               0             0   1   554
 3               0                   0               0             0   0   131
 4               0                   0               0             0   0   314
 5               0                   0               0             0   0   368
 6               0                   0               0             0   0   574
 7               0                   0               0             0   2   423
 8               0                   0               0             0   2    97
 9               0                   0               0             0   2  1531

    cnt_uniq  cnt_n_2         P
 0        69        1  0.014493
 1        60        1  0.016667
 2        60        1  0.016667
 3        69        1  0.014493
 4        69        1  0.014493
 5        69        1  0.014493
 6        69        1  0.014493
 7        49        1  0.020408
 8        49        1  0.020408
 9        49        1  0.020408

 [10 rows x 22 columns],
 (68324, 22))

# 2. Info
## 2.1 Do different 'product_id' has different 'item'?
1. 重要结论：**'item'是不全的描述，不应该以此为参考**

In [8]:
data_prod = data[['product_id','item','desc']].copy()
data_prod.drop_duplicates(inplace=True,ignore_index=True)

data_prodid = data[['product_id']].copy()
data_prodid.drop_duplicates(inplace=True,ignore_index=True)

data_item = data[['item']].copy()
data_item.drop_duplicates(inplace=True,ignore_index=True)

print(f"outcomes.tsv中一共记录了 *{data_prod.shape[0]}* 个['product_id','item','desc']对")
print(f"outcomes.tsv中一共记录了 *{data_prodid.shape[0]}* 个['product_id']")
print(f"outcomes.tsv中一共记录了 *{data_item.shape[0]}* 个['item']")

outcomes.tsv中一共记录了 *1122* 个['product_id','item','desc']对
outcomes.tsv中一共记录了 *1117* 个['product_id']
outcomes.tsv中一共记录了 *905* 个['item']

In [12]:
# 问题不大
prod_not_uniq_1=pd.DataFrame(columns=['product_id','item','desc'])
for i in range(0,data_prodid.shape[0]):
    prodid = data_prodid.iloc[i,0]
    prod = data_prod[(data_prod['product_id']==prodid)].copy()
    prod.drop_duplicates(inplace=True,ignore_index=True)
    if(prod.shape[0]!=1):
        prod_not_uniq_1 = prod_not_uniq_1.append(prod,ignore_index=True)

print(f"有 *{prod_not_uniq_1['product_id'].nunique()}* 个'product_id' 对应了多个'item'")

有 *5* 个'product_id' 对应了多个'item'

C:\Users\Administrator\AppData\Local\Temp\ipykernel_15640\1566985900.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  prod_not_uniq_1 = prod_not_uniq_1.append(prod,ignore_index=True)

In [11]:
# 研究一下
prod_not_uniq_2=pd.DataFrame(columns=['product_id','item','desc'])

for i in range(0,data_item.shape[0]):
    item = data_item.iloc[i,0]
    prod = data_prod[data_prod['item']==item].copy()
    prod.drop_duplicates(inplace=True,ignore_index=True)
    if(prod.shape[0]!=1):
        prod_not_uniq_2 = prod_not_uniq_2.append(prod,ignore_index=True)
print(f"有 *{prod_not_uniq_2['item'].nunique()}* 个'item' 对应了多个'product_id'")

item = prod_not_uniq_2['item'].unique()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_15640\1690109597.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  prod_not_uniq_2 = prod_not_uniq_2.append(prod,ignore_index=True)

有 *130* 个'item' 对应了多个'product_id'

从data里看看这130个怎么回事，其实也没什么，输出一组`tmp_csv`看看

In [14]:
data_item = data[ data['item'].isin(item)]

tmp_csv = data_item[data_item['item'] == item[0]].copy()
tmp_csv.reset_index(inplace=True,drop=True)
tmp_csv.to_csv("tmp_csv.csv",header=True,encoding="utf-8",index=False)
tmp_csv

,auction_id,product_id,item,desc,retail,price,finalprice,bidincrement,bidfee,winner,...,endtime_str,flg_click_only,flg_beginnerauction,flg_fixedprice,flg_endprice,id,N,cnt_uniq,cnt_n_2,P
0,86827,10009602,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,13.35,13.35,0.15,0.75,Racer11,...,19:52 PDT 09-16-2008,0,0,0,0,0,89,69,1,0.014493
1,88638,10006115,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,19.65,19.65,0.15,0.75,Mokkis,...,22:02 PDT 08-23-2008,0,0,0,0,0,131,69,1,0.014493
2,88639,10006115,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,47.10,47.10,0.15,0.75,Superloeffel,...,14:23 PDT 08-24-2008,0,0,0,0,0,314,69,1,0.014493
3,88693,10008975,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,55.20,55.20,0.15,0.75,Danydemir80,...,22:44 PDT 08-22-2008,0,0,0,0,0,368,69,1,0.014493
4,88694,10008975,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,86.10,86.10,0.15,0.75,Destination8,...,07:10 PDT 08-24-2008,0,0,0,0,0,574,69,1,0.014493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,99187,10008975,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,34.80,34.80,0.15,0.75,Jonniboiuk,...,08:56 PDT 10-18-2008,0,0,0,0,0,232,69,1,0.014493
61,102078,10009602,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,32.10,32.10,0.15,0.75,Blueoscar,...,18:48 PDT 09-10-2008,0,0,0,0,0,214,69,1,0.014493
62,107728,10009642,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,17.25,17.25,0.15,0.75,Porygon,...,07:46 PDT 10-11-2008,0,0,0,0,0,115,69,1,0.014493
63,115849,10009602,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,24.90,24.90,0.15,0.75,Catalana71,...,03:18 PDT 11-07-2008,0,1,0,0,0,166,69,1,0.014493
64,115859,10008975,sony-ericsson-s500i-unlocked-mysterious-,Sony Ericsson S500i Unlocked Mysterious Green,499.99,14.25,14.25,0.15,0.75,Mattiyorks,...,09:10 PDT 11-05-2008,0,1,0,0,0,95,69,1,0.014493

可以验证，`prod_not_uniq_2`和`prod_not_uniq_1` **无重合**，所以可以放心处理两组数据不会产生冲突

## 2.2 Do different 'item' has different 'desc'?
1. 重要结论：**'item'是不全的描述，不应该以此为参考**

In [81]:
data_prod = data[['item','desc']].copy()
data_prod.drop_duplicates(inplace=True,ignore_index=True)

data_item = data[['item']].copy()
data_item.drop_duplicates(inplace=True,ignore_index=True)

data_desc = data[['desc']].copy()
data_desc.drop_duplicates(inplace=True,ignore_index=True)

print(f"outcomes.tsv中一共记录了 *{data_prod.shape[0]}* 个['item','desc']对")
print(f"outcomes.tsv中一共记录了 *{data_item.shape[0]}* 个['item']")
print(f"outcomes.tsv中一共记录了 *{data_desc.shape[0]}* 个['desc']")

outcomes.tsv中一共记录了 *899* 个['item','desc']对
outcomes.tsv中一共记录了 *897* 个['item']
outcomes.tsv中一共记录了 *899* 个['desc']

2. 有2个item对应了多个desc，研究一下

In [82]:
# data_prod = data[['product_id','item','desc']].copy()
# data_prod.drop_duplicates(inplace=True,ignore_index=True)
prod_not_uniq = pd.DataFrame(columns=['product_id','item','desc'])

for i in range(0,data_item.shape[0]):
    item = data_item.iloc[i,0]
    desc = data_prod[data_prod['item']==item].copy()
    desc.drop_duplicates(inplace=True,ignore_index=True)
    if(desc.shape[0]!=1):
        prod_not_uniq = prod_not_uniq.append(desc,ignore_index=True)
print(f"有 *{prod_not_uniq['item'].nunique()}* 个'item' 对应了多个'desc'")
prod_not_uniq

有 *2* 个'item' 对应了多个'desc'

,product_id,item,desc
0,NaN,mario-sonic-at-the-olympic-winter-games-,Mario & Sonic at the Olympic Winter Games (DS)
1,NaN,mario-sonic-at-the-olympic-winter-games-,Mario & Sonic at the Olympic Winter Games (Wii)
2,NaN,star-wars-the-clone-wars-republic-heroes,Star Wars: The Clone Wars - Republic Heroes (Wii)
3,NaN,star-wars-the-clone-wars-republic-heroes,Star Wars: The Clone Wars - Republic Heroes (PC)

## 2.3 Do different 'product_id' has different 'desc'?

In [89]:
data_prod = data[['product_id','desc']].copy()
data_prod.drop_duplicates(inplace=True,ignore_index=True)

data_prodid = data[['product_id']].copy()
data_prodid.drop_duplicates(inplace=True,ignore_index=True)

data_item = data[['desc']].copy()
data_item.drop_duplicates(inplace=True,ignore_index=True)

print(f"outcomes.tsv中一共记录了 *{data_prod.shape[0]}* 个['product_id','desc']对")
print(f"outcomes.tsv中一共记录了 *{data_prodid.shape[0]}* 个['product_id']")
print(f"outcomes.tsv中一共记录了 *{data_item.shape[0]}* 个['desc']")

outcomes.tsv中一共记录了 *1011* 个['product_id','desc']对
outcomes.tsv中一共记录了 *1005* 个['product_id']
outcomes.tsv中一共记录了 *899* 个['desc']

## 2.4 Do same 'desc' have same 'retail'?

In [101]:
data_prod = data[['retail','desc']].copy()
data_prod.drop_duplicates(inplace=True,ignore_index=True)

data_desc = data[['desc']].copy()
data_desc.drop_duplicates(inplace=True,ignore_index=True)

print(f"outcomes.tsv中一共记录了 *{data_prod.shape[0]}* 个['retail','desc']对")
print(f"outcomes.tsv中一共记录了 *{data_desc.shape[0]}* 个['desc']")

outcomes.tsv中一共记录了 *1092* 个['retail','desc']对
outcomes.tsv中一共记录了 *907* 个['desc']

1. find out 有很多desc对应了多个“retail”，这个时候应该把他们当做不同的“auction”！！

In [105]:
prod_not_uniq = pd.DataFrame(columns=['retail','desc'])

for i in range(0,data_desc.shape[0]):
    tmp = data_desc.iloc[i,0]
    desc = data_prod[data_prod['desc']==tmp].copy()
    desc.drop_duplicates(inplace=True,ignore_index=True)
    if(desc.shape[0]!=1):
        prod_not_uniq = prod_not_uniq.append(desc,ignore_index=True)

print(f"有 *{prod_not_uniq['desc'].nunique()}* 个'desc' 对应了多个'retail'")

有 *150* 个'desc' 对应了多个'retail'

desc
1 Ounce Gold Bar (31.10g)                             7
20 Bids Voucher                                       3
300 Bids Voucher                                      3
300 FreeBids Voucher                                  2
50 Bids Voucher                                       3
                                                     ..
Wii Play (includes Wii Remote Control)                2
Wii Sports Resort with Wii MotionPlus                 4
Wii Wireless Sensor Bar                               2
Wii | Nintendo Console + Wii Sports                   4
Xbox 360 Arcade Console with Sega Superstar Tennis    2
Length: 150, dtype: int64

## 2.5 what's the sample amount

In [95]:
data_grouped = data.groupby(unique_setting,as_index=False)
data_g = data_grouped.size()
print(f"一共有 *{data_g.shape[0]}* 个settings")
data_g.describe()

一共有 *1196* 个settings

                id  bidincrement       bidfee      retail         size
count  1196.000000   1196.000000  1196.000000  1196.00000  1196.000000
mean    785.630435      0.126647     0.688420   281.46388    57.127090
std     468.415208      0.054292     0.073821   422.22706    98.325974
min       0.000000      0.010000     0.600000     8.59000     4.000000
25%     390.500000      0.120000     0.600000    44.99000    19.000000
50%     771.000000      0.150000     0.750000    82.89000    31.000000
75%    1134.250000      0.150000     0.750000   313.38000    54.000000
max    1748.000000      0.240000     0.750000  2799.99000  1596.000000

1. 有多少样本数>=100的setting？

In [70]:
print(data_g['size'].map(lambda x: x >= 100).sum())

133

outcomes.tsv中一共记录了 *1092* 个['retail','desc']对
outcomes.tsv中一共记录了 *907* 个['desc']